# Ignore everything
*
# But not .gitignore
!*.gitignore
# And not the readme
./!README.md
# But descend into directories
!*/
# Recursively allow files under subtree
!/wp-content/**
# Ignore backup files
# YOUR BACKUP FILE RULES HERE
# Ignore system-created Icon and DS_Store files Icon?
.DS_Store
# Ignore recommended WordPress files
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wflogs/
wp-content/litespeed/
wp-content/wp-cache-config.php
wp-content/languages/
wp-content/mu-plugins/
# If you're using something like underscores or another builder:
# Ignore node_modules
node_modules/
# Don't ignore package.json and package-lock.json
!package.json
!package-lock.json
wp-content/.object-cache.ini
wp-content/object-cache.php
